.article-card {
    margin: 10px 0;
    display: flex;
}

.points-stats {
    width: 20%;
    background-color:#cccccc;
    text-align: center;
    margin: 0 5px
}

.article-title{
    width: 80%;
}

.value {
    font-size: 44px;
}

.controls {
    text-align: right;
}