<mat-card class="article-card">
  <div class="points-stats">
    <div class="value">
      {{article.votes || 0}}
    </div>

    <div class="label">
      points
    </div>
  </div>

  <div class="article-title">
    <a href="{{article.link}}`"> {{article.title}} </a>
    <div class="meta">({{ article.domain() || 'No link provided' }})</div>
    <div class="controls">
      <button mat-icon-button (click)="voteUp()">
        <mat-icon aria-label="thumb_up">thumb_up</mat-icon>
      </button>

      <button mat-icon-button (click)="voteDown()">
        <mat-icon aria-label="thumb_down">thumb_down</mat-icon>
      </button>
    </div>
  </div>
</mat-card>