<header>
  <h1>Let header</h1>
  <h1>{{title}}</h1>
</header>

<main class="container">
    <app-submit-form (emitAddArticle)="addArticle($event)"></app-submit-form>

    <button mat-button (click)="sortByRating()" class="sort-button">Sort by rating</button>
  <app-article
    *ngFor="let article of articles"
    [article]="article">

  </app-article>

</main>

<footer>
  <span>footer</span>
</footer>

