.submit-form {
    background-color: #ebebeb;
    min-height: 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.d-flex {
  display: flex
}

.flex-end {
  justify-content: flex-end
}