<div class="submit-form">
  <mat-card>
    <span>Add a Link</span>
    <div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Title" #newTitle>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Link" #newLink>
        </mat-form-field>
      </div>
      <div class="d-flex flex-end">
          <button (click)='addNewArticleClick(newTitle, newLink)' mat-button>Submit link</button>
      </div>
  </mat-card>
</div>

